.recipe-list-preview {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    padding: 0.5em 1em;
    transition: var(--short-duration);
}

.recipe-list-preview:not(:last-child) {
    margin-bottom: 0.5em;
}

.recipe-list-preview:hover {
    transform: scaleY(1.2) scaleX(1.02);
    transition: var(--short-duration);
}

.options-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.options-container div:not(:last-child) {
    margin-right: 1em;
}

.recipe-list-container div.icon {
    cursor: pointer;
}

.add-recipe-button {
    width: max-content;
    margin: 0 auto;
    padding: 0.5em 1em;
}