nav {
    background-color: var(--green);
    padding: 1em 2em;
}

.nav-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo-container {
    height: 3em;
}

.logo-container img {
    height: 100%;
    animation: happy-logo infinite 1s linear;
}

.login-logout-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.dashed-button {
    text-decoration: none;
    color: black;
    padding: 0.5em 1em;
    border: 2px dashed black;
    border-radius: 2em;
    background-color: unset;
    transition: var(--short-duration)
}

.dashed-button:hover {
    box-shadow: 0 0.1em 0.5em;
    transition: var(--short-duration)
}

.dashed-button:not(:last-child) {
    margin-right: 0.5em;
}

@keyframes happy-logo {
    from {
        transform: rotate(-13deg) translateX(-5%);
    }

    50% {
        transform: rotate(0deg) translateX(5%);
    }

    to {
        transform: rotate(-13deg) translateX(-5%);
    }
}