/* Import every file */
@import "footer.css";
@import "icons.css";
@import "globals.css";
@import "myRecipes.css";
@import "navigation.css";
@import "register.css";
@import "utils.css";


:root {
    --green: #5bf89f;
    --yellow: #f8f05b;
    --orange: #f8b95b;
    --red: #f8785b;

    --short-duration: 0.1s;
    --long-duration: 0.5s;
}

@font-face {
    font-family: "CuteFont";
    src: url("fonts/cuteFont.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "CuteFont", sans-serif;
}